
.content-wrapper{
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;


    td{
        vertical-align: top;
    
        .list-item{
            display: inline-flex;
            flex-direction: row;
            align-items: center;
    
            
        
        }
        
        mat-card{
            margin: 4px 0px;
        }
       
        mat-icon.active{
            color: green;
        }
    }
}



