<mat-card [class.isAddon]="card.isAddon" class="isAddon">
  <mat-card-title [class]="card.isAddon?'hiddenText':''">
    <mat-form-field>
      <input matInput [placeholder]="card.title" [(value)]="card.title" autofocus>
    </mat-form-field>
  </mat-card-title>
  <mat-card-content (click)="editTitle=false">
    <div cdkDropList [cdkDropListData]="card.children" [id]="card.index" [class]="'innerList'"
      (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="connected">
      <app-inner-card cdkDrag [cdkDragData]="child" *ngFor="let child of (card.children||[])" [title]="child.title">
      </app-inner-card>
    </div>
  </mat-card-content>
</mat-card>