form{
    mat-card{
        .id{
            float: right;
            font-size: 36px;
        }

        mat-card-content{
            .content{
                .description{
                    height: 160px;
                    width: 500px;
                }
            }
        }
    }
}