<mat-card>
  <mat-card-title>
    {{data.id}}
  </mat-card-title>
  <mat-card-content>
    ssfjsoig jsio gjswoi egjois jgoisj go9sj dgosgjosogjoo<br>
    ssfjsoig jsio gjswoi egjois jgoisj go9sj dgosgjosogjoo<br>
    ssfjsoig jsio gjswoi egjois jgoisj go9sj dgosgjosogjoo<br>
    ssfjsoig jsio gjswoi egjois jgoisj go9sj dgosgjosogjoo<br>
    ssfjsoig jsio gjswoi egjois jgoisj go9sj dgosgjosogjoo<br>
    ssfjsoig jsio gjswoi egjois jgoisj go9sj dgosgjosogjoo<br>
    ssfjsoig jsio gjswoi egjois jgoisj go9sj dgosgjosogjoo<br>
    ssfjsoig jsio gjswoi egjois jgoisj go9sj dgosgjosogjoo<br>
    ssfjsoig jsio gjswoi egjois jgoisj go9sj dgosgjosogjoo<br>
  </mat-card-content>
</mat-card>